<section>
  <div class="collage">
    <div class="collage-overlay">
      
      <div class="collage-overlay-text">
        
        <h1>{{ .Site.Params.header }}</h1>
        <!-- <h1>Carrying Your Keys to the World</h1> -->
        <!-- <h1>Wirelessly, Ergonomic, Free.</h1> -->
        <h1>Split the Limits, Type Beyond</h1>
        <!-- <p><strong>{{ .Site.Params.Description }}</strong></p> -->
        <p><strong>Carrying Your Keys to the World - Wirelessly, Ergonomic, Experience innovation at your fingertips.</strong></p>
        <!-- <p>We are here to enhance your experience.</p>
        <p>Discover the future of convenience and style.</p>
        <p>Join us in redefining the way you live.</p> -->
        <!-- <p>Experience innovation at your fingertips.</p> -->
        <p style="margin-top: auto;">Our Vision - Building an ecosystem where everyone thrives through specialization. As engineers create, promoters amplify, and users benefit, we'll prove together: Every great idea deserves to change the world.</p>
      </div>
      
    </div>
    
    <!-- {{ range .Site.Params.collage }} -->
      <img src="{{ . | relURL }} " alt="collage image"/>
    <!-- {{ end }} -->
    


  </div>
</section>
