<header>
  <div class="container">
    <a href="/"><img src="{{ `images/Ady_logo.png` | relURL }}"  style="height: 100px; width: auto;" /></a>
    <!-- <div class="right-stuff">
      <div class="header__cart">
        <a href="#" class="snipcart-checkout">
          <div class="snipcart-summary">
            <i class="fas fa-lg fa-shopping-bag"></i>&nbsp;<span
              class="snipcart-items-count"
            ></span>
            item(s)
          </div>
        </a>
      </div> -->
      <div class="instagram">
        <i class="fab fa-lg fa-instagram" href="https://instagram.com/keyborne" ></i>&nbsp;
        <a href="https://instagram.com/keyborne" target="_blank" rel="noopener noreferrer">keyborne</a>
      </div>
    </div>
  </div>
</header>
